@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Fugaz+One&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Shrikhand&display=swap'); /* Georgi Karchev font*/
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap'); /* Paragraph font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* Header */
header {
  position: relative;
  height: 70vh;
}

.ime {
  font-weight: normal;
  font-size: 40px;
  color: #333333;
  text-align: center;
}

.opisanie {
  font-size: 1rem;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #FFF;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 2;
  background-color: transparent;
}

.logo-container {
  margin-right: auto;
}

.logo {
  width: 80px;
  height: auto;
}

.button-container {
  margin-left: auto;
}

.hamburger-button {
  font-size: 2rem;
  border: none;
  background: transparent;
  color: #FFFFFF;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-button span {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin: 4px;
  transition: transform 0.3s, background-color 0.3s;
}

.hamburger-button.active span {
  transform: rotate(45deg);
  background-color: transparent;
}

.hamburger-button.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, visibility 0s linear, transform 0.3s ease;
}

.menu-wrapper.menu-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu-content {
  width: 80%;
  max-width: 400px;
  margin-top: 100px;
  padding: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  transform: translateX(0);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 10px 0;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.menu-link {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease;
}

.menu-link:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.diagonal-background {
  position: relative;
  overflow: hidden;
  min-height: 180vh;
}

.diagonal-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-135deg, #000000 40%, #f6f2f2 40%);
  z-index: -1;
  transition: background-color 0.5s linear;
}

.content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  background-size: cover;
  background-position: center;
}



.content h1 {
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.content p {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 20px;
}


.close-button {
  font-size: 2rem;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Styles for the about-me section */
.about-me {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

/* Responsive styles */
@media (max-width: 770px) {

  .diagonal-background::before {
    background: #000000;
    transform: none;
  }
  header {
    height: 60vh; /* Adjust the height of the header for smaller screens */
  }
  
  .main-content {
    display: none;
  }

  .content {
    /* Adjust the width for responsiveness */
    width: 90%;
  }

  /* Adjust the top position for responsiveness */
  .content {
    top: 20%;
  }

  /* Adjust the font size for responsiveness */
  .content h1 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 1rem;
  }

  .img-wrapper { 
    display: none;
  }
 
  .centered-text , .georgi-name {
    display: none;
  }
   
  .desktop-nav { 
    display: none;
  }

}

@media (min-width: 770px) {
.content {
  display: none;
 }
 
  
 .img-wrapper {
  position: absolute;
  bottom: -400px; /* Adjust the bottom position for the desired visual effect */
  left: 20px;
  height: 350px; /* Adjust the height for the desired visual effect */
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: -1;
  overflow: hidden;
  width: calc(10% + 20rem);
  
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.georgi-name, .centered-text {
  font-family: 'Fugaz One', cursive; 
  font-size: 60px;
  color: #333333;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  height: 100%;
  
}

.white-text {
  color: #ffffff;
  padding-right: 4rem;
}

.black-text {
  color: #000000;
  padding-right: 10rem;
}

.centered-text {
  display: flex;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  flex-direction: column;
}

 .main-content { 
    font-family: 'Francois One', sans-serif;
  }
  .hamburger-button {
    display: none;
  }

  .desktop-nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .desktop-nav-link {
    font-family: 'Francoins One', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 20px;
  }
   
  .about-me-container {
    /* Adjust spacing and positioning as needed for larger screens */
    padding-top: 16rem;
    padding-left: 27rem;
    float: right;
    color: black;
  }
   .about-me-text { 
    line-height: 1.8 ;
    font-size: 1rem;
   }
 
}






